body  {
	margin:0; padding:0; font:10px  Helvetica, Arial, sans-serif; color: #AAAAAA;
	background-color: #FFFFFF;
}

a:link, a:visited  {color: #AAAAAA; text-decoration:none;}
a:hover {text-decoration:none;}

h1  {
	color: #222222;
	text-align: left;
	letter-spacing: -0.05em;
	font: bold 140px/130px Arial, Helvetica, sans-serif;
}
h1 a:link, h1 a:visited { color: #222222; text-decoration: none; }
h1 a:hover {text-decoration: none; color: slategray}

#logo  { float:right; margin-top: 10px;
	margin-right: 10px;
}

#wrapper  { width: 820px; margin: 0 auto;}

#content {
	padding: 50px;
}
